<main class="container">
  <div class="">
    <p><a class="btn btn-info" data-toggle="collapse" data-target="#myForm" >Create Ad</a></p>
  </div>

  <div class="row collapse" id="myForm">
    <div class="col-md-8">
      <form novalidate name = "commentForm" ng-submit = "$ctrl.commentAdded()">
        <div class="form-group" ng-class="{'has-error': $ctrl.commentForm.title.$invalid}">
          <label for="title">Title</label>
          <input id="title" class="form-control" required name = "title" ng-model="$ctrl.comment.title" minlength = "2">
          <span ng-show="$ctrl.commentForm.title.$invalid">Please enter a title</span>
          <span ng-show="$ctrl.commentForm.title.$error.minlength">Title needs to be at least 3 characters</span>
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea id="body" class="form-control" ng-model="$ctrl.comment.body" name = "body" required></textarea>
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input id="author" class="form-control" ng-model="$ctrl.comment.author" name="author" required>
        </div>
        <div class="form-group">
          <label for="image-url">Image URL</label>
          <input id="image-url" class="form-control" ng-model="$ctrl.comment.image" name="image" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Create Post
          </button>
        </div>
      </form>
    </div>
  </div>
</main>`
